127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.10.2    bootstrap.{{ labdomain }}     bootstrap

192.168.10.3    m01.{{ labdomain }}   m01
192.168.10.5    m02.{{ labdomain }}   m02
192.168.10.7    m03.{{ labdomain }}   m03

192.168.10.11   w01.{{ labdomain }}   w01
192.168.10.13   w02.{{ labdomain }}   w02
192.168.10.15   w03.{{ labdomain }}   w03
192.168.10.17   w04.{{ labdomain }}   w04
192.168.10.19   w05.{{ labdomain }}   w05 

192.168.10.10   bastion.{{ labdomain }}       bastion
192.168.10.10   git.{{ labdomain }}           git
